<div>
    <div>
        
        <header class="col-12" style="top: 0; left: 0; z-index: 1000;">
            <app-header></app-header>
        </header>
    </div>
    
    <div style="display: flex; margin-top: 20px;">

        <aside style="padding-left: 19px; width: 33%; height: auto;">
            <app-aside></app-aside>
        </aside>

        <main style="width: 67%; padding-left: 20px;">
            <div class="px-4 py-4">
                <app-produit></app-produit>
            </div>
        </main>
    </div>
    <div>
  
        <footer  class="col-12" style="top: 0; left: 0; z-index: 1000;">
            <app-footer></app-footer>
        </footer>
    </div>
</div>
