<aside>
  <a href="accueil.html" style="color: gray; font-size: 14px;">Accueil</a>&nbsp;/
  <a href="jardin-piscine.html" style="color: gray; font-size: 14px;">Jardin piscine</a>&nbsp;/
  <a href="mobilier-de-jardin.html" style="color: gray; font-size: 14px;">piscine et spa</a>&nbsp;/
  <a href="meuble-de-jardin.html" style="color: black; font-size: 16px;">piscine</a>
  <p><b>Meuble de jardin</b></p>
  <p>Plus de 500 produit trouvés</p>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">
      <table>
        <tr>
          <td>Livraison 48h gratuite</td>
        </tr>
        <tr>
          <td><a href="#">En savoir plus</a></td>
        </tr>
      </table>
    </label>
  </div>


  <div>
    <b>Livraison</b><svg aria-hidden="true" focusable="false" height="1em" role="presentation" width="1em"
      viewBox="0 0 24 24" class="svg_tamagoshi c1uojDK">…</svg>4
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Livraison gratuite
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Livraison en 1 jour
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Livraison à un point de relais
      </label>
    </div>
  </div>
  <b>Prix(€)</b>
  <div style="display: flex; gap: 10px;">
    <div style="position: relative; width: 150px;">
      <input type="number" placeholder="Minimum (€)" min="2" max="10000"
        style="font-size: 16px; width: 100%; padding: 8px; border: 1px solid gray; border-radius: 5px; box-sizing: border-box; padding-bottom: 24px;">
      <div style="position: absolute; bottom: 8px; left: 10px; font-size: 12px; font-weight: bold; color: gray;">
        3
      </div>
    </div>
    <div style="position: relative; width: 150px;">
      <input type="number" placeholder="Maximum (€)" min="2" max="10000"
        style="font-size: 16px; width: 100%; padding: 8px; border: 1px solid gray; border-radius: 5px; box-sizing: border-box; padding-bottom: 24px;">
      <div style="position: absolute; bottom: 8px; left: 10px; font-size: 12px; font-weight: bold; color: gray;">
        31280
      </div>
    </div>
  </div>


  <div>
    <b>Notes</b>
    <div class="form-check" style="display: flex; align-items: center;">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked
        style="margin-right: 12px;">
      <label class="form-check-label" for="flexCheckChecked"
        style="color: #505971; display: flex; align-items: center; gap: 4px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#FFD700">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#FFD700">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#FFD700">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#FFD700">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#FFD700"
          stroke-width="2">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <span style="margin-left: 8px;">4 et plus (277)</span>
      </label>
    </div>

    <div class="form-check" style="display: flex; align-items: center;">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked
        style="margin-right: 12px;">
      <label class="form-check-label" for="flexCheckChecked"
        style="color: #505971; display: flex; align-items: center; gap: 4px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#FFD700">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#FFD700">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="#FFD700">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#FFD700"
          stroke-width="2">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#FFD700"
          stroke-width="2">
          <path
            d="M12 .587l3.668 7.571L24 9.748l-6 5.854 1.417 8.268L12 18.902l-7.417 4.968L6 15.602l-6-5.854 8.332-1.59z" />
        </svg>
        <span style="margin-left: 8px;">3 et plus (430)</span>
      </label>
    </div>
    <b>Marque</b>
    <div
      style="display: flex; align-items: center; border-radius: 12px; border: 1px solid #ccc; padding: 4px; width: 300px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16" style="margin-right: 8px; flex-shrink: 0;">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
      </svg>
      <input aria-invalid="false" id="search" type="text" placeholder="Rechercher une marque"
        style="border: none; border-radius: 12px; padding: 8px; width: 100%; box-sizing: border-box;">
    </div>
    <div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          INTEX(791)
        </label>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        BESTWAY(570)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        TOI (260)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        TORANA (162)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        PROLENTA PREMIUM (97)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        GRE (92)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        HABITAT ET JARDIN (81)
      </label>
    </div>
    <div style="display: flex; align-items: center; gap: 8px;">
      <span id="voirPlus" style="cursor: pointer; display: flex; align-items: center; color: gray;"
        onclick="toggleCheckboxList()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
        </svg>
        Voir plus
      </span>
    </div>
    <b>Vendeurs</b>
    <div id="checkboxList" style="display: none; margin-top: 8px;">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
        <label class="form-check-label" for="flexCheckDefault4">
          The Living Store FR(6)
        </label>
      </div>
      <details>
        <summary>Voir plus</summary>
        <div>
          <div>
            <input type="checkbox" id="flexCheckDefault4">
            <label for="flexCheckDefault4">
              1004KDO (23)
            </label>
          </div>
        </div>
      </details>

      <b>Vendeurs</b>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          VIDAXL (1828)
        </label>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Avimac(1196)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        The Living Store Fr(812)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Beliani(431)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Vie-Futur FR(362)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Oviala(243)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Aosom France(194)
      </label>
    </div>
    <div style="display: flex; align-items: center; gap: 8px;">
      <span id="voirPlus" style="cursor: pointer; display: flex; align-items: center; color: gray;"
        onclick="toggleCheckboxList()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
        </svg>
        Voir plus
      </span>
    </div>
    <b>Label/certification</b>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
      <label class="form-check-label" for="flexCheckDefault1">
        Eco-responsable
        <svg aria-hidden="true" focusable="false" height="16" role="presentation" width="16" viewBox="0 0 12 12"
          class="svg_tamagoshi">
          <path
            d="M2.03464 3.3676C0.21464 5.18823 0.21464 8.13592 2.02131 9.95656C3.00131 7.6891 4.74797 5.79511 6.92797 4.66805C5.08131 6.22859 3.78797 8.40935 3.33464 10.8835C5.06797 11.7038 7.2013 11.4037 8.63464 9.96989C10.9546 7.64909 11.3346 0.666656 11.3346 0.666656C11.3346 0.666656 4.35464 1.04679 2.03464 3.3676Z"
            fill="#21785B"></path>
        </svg>
        <br>
        <a href="#" style="color: black; text-decoration: underline;">en savoir plus</a>
      </label>
    </div>
    <div class="form-check" style="display: inline-flex; align-items: center;">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
      <label class="form-check-label" for="flexCheckDefault2" style="display: inline-flex; align-items: center;">
        Origin France
        <svg aria-hidden="true" focusable="false" height="18" width="18" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px;">
          <circle cx="12" cy="12" r="11" fill="#FAFAFA"></circle>
          <path
            d="M23.0001 12C23.0001 7.2704 20.015 3.23843 15.8262 1.6842V22.3159C20.015 20.7616 23.0001 16.7296 23.0001 12Z"
            fill="#D80027"></path>
          <path d="M1 12C1 16.7296 3.98513 20.7616 8.17393 22.3158V1.6842C3.98513 3.23843 1 7.2704 1 12Z"
            fill="#2E56B1"></path>
        </svg>
      </label>
    </div>